[submodule "catkin_ws/src/t4ac_mapping_layer"]
	path = catkin_ws/src/t4ac_mapping_layer
	url = git@github.com:RobeSafe-UAH/Techs4AgeCar-Mapping-Layer.git
	branch = 2021_carla_challenge
[submodule "catkin_ws/src/t4ac_unified_perception_layer"]
	path = catkin_ws/src/t4ac_unified_perception_layer
	url = git@github.com:RobeSafe-UAH/Techs4AgeCar-Unified-Perception-Layer.git
	branch = 2021_carla_challenge
[submodule "catkin_ws/src/t4ac_planning_layer"]
	path = catkin_ws/src/t4ac_planning_layer
	url = git@github.com:RobeSafe-UAH/Techs4AgeCar-Planning-Layer.git
	branch = 2021_carla_challenge
[submodule "catkin_ws/src/t4ac_localization_layer"]
	path = catkin_ws/src/t4ac_localization_layer
	url = git@github.com:RobeSafe-UAH/Techs4AgeCar-Localization-Layer.git
	branch = 2021_carla_challenge
[submodule "catkin_ws/src/t4ac_decision_making_layer"]
	path = catkin_ws/src/t4ac_decision_making_layer
	url = git@github.com:RobeSafe-UAH/t4ac_petrinets_ros.git
	branch = 2021_carla_challenge
[submodule "catkin_ws/src/t4ac_control_layer"]
	path = catkin_ws/src/t4ac_control_layer
	url = git@github.com:RobeSafe-UAH/t4ac_lqr_ros.git
	branch = 2021_carla_challenge
[submodule "catkin_ws/src/carla_msgs"]
	path = catkin_ws/src/carla_msgs
	url = git@github.com:carla-simulator/ros-carla-msgs.git
	branch = master
[submodule "catkin_ws/src/t4ac_config_layer"]
	path = catkin_ws/src/t4ac_config_layer
	url = git@github.com:RobeSafe-UAH/Techs4AgeCar-Config-Layer.git
[submodule "catkin_ws/src/ros-bridge"]
	path = catkin_ws/src/ros-bridge
	url = git@github.com:RobeSafe-UAH/ros-bridge.git
	branch = 2021_carla_challenge
[submodule "catkin_ws/src/ad_devkit"]
	path = catkin_ws/src/ad_devkit
	url = https://github.com/RobeSafe-UAH/ad_devkit.git
[submodule "catkin_ws/src/ad_perdevkit"]
	path = catkin_ws/src/ad_perdevkit
	url = git@github.com:Cram3r95/ad_perdevkit.git
[submodule "catkin_ws/src/t4ac_smartmot_ros"]
	path = catkin_ws/src/t4ac_smartmot_ros
	url = git@github.com:Cram3r95/smartmot.git
